# Sample gitconfig
#
# I've pulled this out of version control because 1) I don't want my email
# and GitHub token on my public repo, and 2) I tried using the system-wide
# etc/gitconfig and it seems other clients don't always respect it (not to
# mention dealing with it in homebrew sucks). Don't let that stop you; you
# can symlink ~/.gitconfig to this file and go rock out with your git out!

[user]
    name = 
    email = 
[github]
    user = 

[alias]
    st = status
    ci = commit
    cia = commit -a
    br = branch
    bra = branch -a
    cob = checkout -b
    di = diff --color-words
    lg = log -p
    mg = merge --no-commit --no-ff
    h = help
    up = pull
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    co = checkout
    promote = !$ZSH/bin/git-promote
    wtf     = !$ZSH/bin/git-wtf
    rank-contributers = !$ZSH/bin/git-rank-contributers
    count   = !git shortlog -sn
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
[color "diff"]
    whitespace = red reverse
    [core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autocrlf=input
    excludesfile = ~/.gitignore
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[branch]
    autosetupmerge = true
